<div id="tweet-applicaton">
    <h2>tweet Application - Angular client</h2>

    <div class="main" style="padding:100px">
        <table>
            <caption>Live Analysis</caption>
            <thead>
                <tr>
                    <th scope="col" style="max-width: 150px;">Total Comparative</th>
                    <th scope="col" style="max-width: 150px;">Positive</th>
                    <th scope="col" style="max-width: 150px;">Neutral</th>
                    <th scope="col" style="max-width: 150px;">Negative</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="Total Comparative" style="max-width: 150px;">{{totScore}}</td>
                    <td data-label="Positive" style="max-width: 150px;">{{positives}}</td>
                    <td data-label="Neutral">{{neutrals}}</td>
                    <td data-label="Negative">{{negatives}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <input id="handle" type="text" [(ngModel)]="hashTag" placeholder="#hashTag" />
    <button type="button" id="send" style="cursor: pointer;" (click)="sendTag()">Submit</button>


    <div id="tweet-window">
        <div id="output" *ngFor="let data of output">
            <p><strong>{{data.handle}} : </strong>{{data.tweet}}</p>
        </div>
    </div>
</div>