<div class="sticky-nav-wrapper">
    <nav class="sticky-nav" ngStickyNav stickyClass="sticky-box-shadow" ngStickyNav>
        <ul>
            <li>
                <a (click)="moveToSection('search-section')">Sentiment Analysis</a>
            </li>
            <li>
                <a (click)="moveToSection('live-section')">Live Tweets</a>
            </li>
            <ng-container *ngIf="isLoggedIn(); else elseTemplate">
                <li>
                    <a (click)="onLogin()">Login</a>
                </li>
                <li>
                    <a (click)="onSignup()">Sign Up</a>
                </li>
            </ng-container>
            <ng-template #elseTemplate>
                <li>
                    <a (click)="onLogout()">Log Out</a>
                </li>
            </ng-template>

        </ul>
    </nav>
</div>

<!-- header {
    background-color: greenyellow;
    padding: 20px 0;
}

ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}

.sticky-nav {
    width: 98%;
    float: left;
    padding: 10px;
    width: 100%;
    background: #000;
}

.sticky-nav ul {
    padding: 0px;
    margin: 0px;
}

.sticky-box-shadow {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    background: #000!important;
    color: #fff;
}

.sticky-nav ul li {
    float: left;
    margin-right: 20px;
    list-style-type: none;
}

a {
    cursor: pointer;
} -->