header {
    background-color: greenyellow;
    padding: 20px 0;
}

ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}

.sticky-nav {
    width: 98%;
    float: left;
    padding: 10px;
    width: 100%;
    background: #000;
}

.sticky-nav ul {
    padding: 0px;
    margin: 0px;
}

.sticky-box-shadow {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    background: #000!important;
    color: #fff;
}

.sticky-nav ul li {
    float: left;
    margin-right: 20px;
    list-style-type: none;
}

a {
    cursor: pointer;
}