<app-header>
</app-header>
<div style="width: 100%;height: 100%;">

    <div class="main" id="main-section">
        <h1 style="text-align: center;">Twitter Data Analysis</h1>
    </div>

    <div class="main" id="search-section">
        <div class="column left-sentiment"></div>
        <div class="column right-sentiment">
            <div style="text-align: center; margin: 50px;">
                <h2 style="text-align: center; ">Sentiment Analysis</h2>
                <p>
                    Search for a <b>#hashtag</b> and get the analysis of tweets
                </p>
                <p></p>
                <a href="/search " class="button2 ">Start</a>
            </div>

        </div>
    </div>

    <div class="main " id="live-section">
        <div class="column left-live"></div>
        <div class="column right-live">
            <div style="text-align: center; margin: 50px;">
                <h2 style="text-align: center; ">Live Tweets</h2>
                <p>
                    Search for a <b>#hashtag</b> and get the live tweets
                </p>
                <p></p>
                <a href="/live" class="button2 ">Start</a>
            </div>

        </div>
        <!-- <h2>Live Tweets</h2> -->
    </div>

</div>